html,
body {
    background-color: #1A1A1A;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #1A1A1A;
    z-index: 9999;
}

.container {
    margin: 0 auto;
    width: 100%;
    padding: 0 15px;
}

.header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 48px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.navigation ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: none;
}

.navigation ul li {
    width: 33.333%;
}

.navigation ul a {
    text-transform: uppercase;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
}

.navigation ul.nav-tabs .nav-link:hover {
    border-color: transparent;
}

.navigation ul.nav-tabs .nav-link.active {
    font-weight: 700;
    background-color: transparent;
    border: none;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
}

.content,
.tab-content,
.tab-pane,
.swiper {
    height: 100%;
}

.tab-content {
    padding-top: 7 0px;
}

.swiper-slide {
    height: auto;
}

.comic .swiper-slide {
    padding-top: 0;
}

.comic {
    background-color: #212121;
    padding-bottom: 15px;
}

.comic-header,
.comic-body,
.comic-footer {
    background-color: #1A1A1A;
}

.comic-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 60px;
    padding: 15px 15px 0;
}

.comic-header a {
    text-decoration: none;
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
}

.comic-header .comic-name a {
    font-weight: 500;
}

.comic-swiper::after {
    content: '';
    position: absolute;
    height: 40px;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(0, 0, 0);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.3)));
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
    z-index: 999;
}

.comic .swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 0;
    height: 40px;
    z-index: 9999;
}

.comic .swiper-pagination-bullet {
    background: transparent;
    border: 1px solid #fff;
    opacity: 1;
    position: relative;
    bottom: -20px;
}

.comic .swiper-pagination-bullet-active {
    background: #fff;
}

.comic-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 55px;
    padding: 0 15px 15px;
}

.comic-footer .tip-fav {
    width: 72px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}